<!DOCTYPE html>
<html>
<head>
  <title>Exam2019</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" href=<%= root_path %>>Z-Mobile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Cart', shopping_cart_path, method: :get, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Log out', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Sign in', new_user_session_path, method: :get, class: "nav-link") %>
        </li>
      <% end %>
    </ul>

    </div>
  </nav>
</header>
<body>
<ul class="nav bg-secondary justify-content-center">
  <li class="nav-item">
    <a href="<%=handsets_path %>" class="nav-link text-white">Handsets</a>
  </li>
  <li class="nav-item">
    <a href="<%=prepay_options_path %>" class="nav-link text-white">Prepay options</a>
  </li>
  <li class="nav-item">
    <a href="<%=subscriptions_path %>" class="nav-link text-white">Subscriptions</a>
  </li>
</ul>

<div class="row">
  <div class="col-md-2">
    <ul class="nav bg-light flex-column" style="height: 100%">
      <li class="nav-item">
        <a href="#" class="nav-link">Link1</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Link2</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Link3</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <% flash.each do |key, value| %>
      <% if key == "alert" %>
        <div class="alert alert-warning">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% elsif key == "notice" %>
        <div class="alert alert-success">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% else %>
        <div class="alert alert-<%= key %>">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>

<footer class="page-footer text-white bg-dark font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">About Z-Mobile</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in posuere est. Nullam ultrices mattis pharetra.
          Ut eu sem tellus. Nullam velit ipsum, scelerisque id eros in, consectetur blandit arcu. Maecenas vitae
          condimentum leo, vel iaculis ante. Nunc ante nisi, pulvinar eu eros sed, sollicitudin fringilla nisi.
          Pellentesque in iaculis elit. </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contact</h5>
        <ul class="list-unstyled">
          <li>
            <p>+569 7620 4295</p>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Address</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              Monseñor Álvaro del Portillo 12455, Santiago, Las Condes, Región Metropolitana
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</html>
